<?xml version="1.0" encoding="UTF-8"?>
<app is_debug="true" 
		title="汇贝生活 - 中国领先的移动优惠应用平台" 
		keyword="手机优惠券,打折软件,优惠软件"
		description="汇贝生活(原：汇生活)是国内领先的手机优惠软件，致力于为中国消费者提供优质的本地餐饮、休闲、娱乐、购物等生活服务信息。这里提供APP客户端、微信、WAP网站等便利方式享受打折优惠。"
		copyright="Invent Info Tech">
	<user login_session_timeout="30" 
		authorization_default="allow"
		authorization_is_login="false" 	
		debug_cookie_only="false" 
		desc="debug_cookie_only为true的情况是用户浏览器不关闭就一直登陆">
	</user>
	<pay>
		<payItem 
				name="UPMP" 
				label="银联手机支付" 
				logo="http://localhost:8080/static/images/unipay.jpg" 
				tradeGateway="http://202.101.25.178:8080/gateway/merchant/trade"
				queryGateway="http://202.101.25.178:8080/gateway/merchant/query"
				handleClass="com.huipay.pay.upmp.UnionpayService"
				merchantId="880000000000621"
				merchantName="汇贝生活"
				key="KOQoB8XXK7JE75gRt2nCzBQSmNZKFpWF"
				notifyUrl="http://211.147.7.115/huipayapi_v1.2/pay/notify/unionpay"
				returnUrl="http://211.147.7.115/huipayapi_v1.2/pay/return/uniopay"
				queryUrl="http://127.0.0.1/huipayapi_v1.2/2/mobile/pay/unionpay.json"
				priority="1"
				isTest="true"
				isDefault="true">
		</payItem>
				<payItem 
				name="ALIPAYWAP" 
				label="支付宝网页支付" 
				logo="" 
				tradeGateway="http://wappaygw.alipay.com/service/rest.htm?"
				queryGateway=""
				handleClass="com.huipay.pay.ali.AlipayWapService"
				merchantId="2088011173747201"
				merchantName="汇贝生活"
				merchantEmail="huipay@huipay.com"
				key="oizxz20fk7rlj4lyok77alsgsd2xbxt0"
				notifyUrl="http://211.147.7.115/api/pay/notify/alipaywap"
				returnUrl="http://211.147.7.115/api/pay/return/alipay"
				queryUrl=""
				priority="1"
				isTest="true"
				isDefault="true">
		</payItem>
		<payItem 
				name="ALIPAYCLIENT" 
				label="支付宝客户端支付" 
				logo="" 
				tradeGateway="http://wappaygw.alipay.com/service/rest.htm?"
				queryGateway=""
				handleClass="com.huipay.pay.ali.AlipayClientService"
				merchantId="2088011173747201"
				merchantName="汇贝生活"
				merchantEmail="huipay@huipay.com"
				key="oizxz20fk7rlj4lyok77alsgsd2xbxt0"
				notifyUrl="http://211.147.7.115/api/pay/notify/alipayclient"
				returnUrl=""
				queryUrl=""
				priority="1"
				isTest="false"
				isDefault="true">
		</payItem>
		<!-- 
		<payItem 
				name="WXPAY" 
				label="微信手机支付" 
				logo="http://localhost:8080/static/images/unipay.jpg" 
				tradeGateway=""
				queryGateway=""
				handleClass="com.huipay.pay.wxap.WXpayService"
				merchantId="huipay@huipay.com"
				merchantName="汇贝生活"
				key="8934e7d15453e97507ef794cf7b0519d"
				notifyUrl="http://211.147.7.115/huipayapi_v1.2/pay/notify/weixinpay"
				returnUrl="http://211.147.7.115/huipayapi_v1.2/pay/return/weixinpay"
				queryUrl="http://127.0.0.1/huipayapi_v1.2/2/mobile/pay/unionpay.json"
				priority="1"
				isTest="true"
				isDefault="true">
		</payItem>
		 -->
	</pay>
</app>